body{
   background-color: black;
   color: blue; 
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size:medium;
   font-weight:100;
   line-height:normal;
   margin:0;
}
.box-1{
    background-color:darkgoldenrod;
    color:aliceblue
    
}
a{
    text-decoration: none;
    color: darkmagenta;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover{
    color:aquamarine
}
.container{
    width: 80%;
    margin:auto;
    border: 5px blue solid;
    border-bottom-width: 10px;
    padding:20px;
}
.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    
}
.box-2{
    border: 3px dotted  brown;
    padding: 20px;
    margin: 20px 0;
}
.categories{
    border: 1px gray solid;
    padding: 10px;
    border-radius: 15px;
}
.categories h2{
  text-align: center;
}
.categories ul{
    padding: 0;
    list-style: circle;
    
    width: 50%;
    margin: auto;

}
.my-form{
    padding:20px;
    margin-top: 10px;
    border: 5px gray solid;
}
.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}
.my-form input{
    padding: 8px;
    width: 100%;
}
.my-form button{
    
    padding:  10px 15px;
    background-color: darkgray;
    color: white;
    border: none;
    
}
.my-form button:hover{
   color:red;
   background:black;
}
.block{
    float: left;
    width:33.3%;
    border: 1px solid blue;
    padding: 10px;
    box-sizing: border-box;

}

.p-block{
    width: 800px;
    height: 500px;
    border: 1px solid white;
    margin-top: 300px;
    position:relative

}

.p-block h1{ 
    position:absolute
    top: 300px;
    left: 250px;
    
}
